@font-face {
    font-family: 'EPTA';
    src: url('EPTA_GLYPHS.woff2') format('woff2'),
        url('EPTA_GLYPHS.woff') format('woff'),
        url('EPTA_GLYPHS.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

